* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(assets/1.png);
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: rgba(0, 10, 15, 0.85); */
}

.logo {
  position: absolute;
  top: 5%;
  left: 5%;
}

.social {
  position: absolute;
  top: 5%;
  /* left: 90%; */
  right: 5%;
}

.content {
  width: 100%;
}

.text1 {
  text-align: center;
  font-family: Raleway;
  font-size: 45px;
  line-height: 60px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 46px;
  /* position: relative;
  top: 20%; */
}

.blue {
  font-weight: 700;
  color: #0199e6;
}

.text2 {
  font-family: "Source Sans Pro";
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  /* position: relative;
  top: 25%; */
  text-align: center;
  padding-bottom: 71px;
}

.info {
  width: 944px;
  height: 102px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* position: relative;
  top: 30%;
  text-align: center; */
}

.input {
  margin: 0 11px;
  width: 214px;
  height: 54px;
  background-color: #000000;
  border: 1px solid rgba(1, 153, 230, 0.29);
  box-shadow: -3px 0px 0px 0px #0199e6;
  font-family: Raleway;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.button {
  margin: 11px;
  width: 184px;
  height: 54px;
  background-color: #008ed6;

  font-family: Raleway;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.arrow {
  position: absolute;
  display: flex;
  bottom: 20%;
  right: 32%;
}

.sms {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.line {
  width: 34px;
  height: 26px;
  opacity: 0.5;
}

.features {
  width: 100%;
  height: 849px;
  padding: 112px 0 21px 0;
}

.features-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 77px;
}

.features-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 65px;
  font-weight: 500;
  color: #323232;
}

.blue-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 23px 0;
}

.features-text {
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
}

.features-grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "grid-responsive grid-font grid-bootstrap"
    "grid-variation grid-markup grid-customize";
  /* grid-template-columns: 1fr 2fr; */
  /* grid-auto-rows: 100px; */
}

.features-grid-block {
  width: 100%;
  max-width: 296px;
  justify-self: center;
  align-self: center;
  padding-bottom: 82px;
}

.responsive {
  grid-area: "grid-responsive";
}

.font {
  grid-area: "grid-font";
}

.bootstrap {
  grid-area: "grid-bootstrap";
}

.variation {
  grid-area: "grid-variation";
}

.markup {
  grid-area: "grid-markup";
}

.customize {
  grid-area: "grid-customize";
}

.grid-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.grid-block-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 64px;
  font-weight: 600;
  color: #323232;
}

.grid-block-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
}

.explore {
  width: 80%;
  height: 625px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
}

.explore-main-img {
  width: 532px;
  height: 424px;
  background-color: #eceef1;
  margin-right: 54px;
}

.explore-main-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
  color: #323232;
}

.explore-blue-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 26px 0 36px 0;
}

.explore-main-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 40px;
}

.explore-main-block {
  display: flex;
}

.explore-img {
  width: 32px;
  height: 33px;
  background-color: #0199e6;
  border-radius: 4px;
  margin: 5px 19px 0 0;
}

.explore-title {
  font-family: Raleway;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #323232;
}

.explore-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  padding-bottom: 48px;
}

.main-describe {
background-color: #f7f8fa;;
}

.describe {
  width: 80%;
  height: 625px;
  background-color: #f7f8fa;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
}

.describe-main-img {
  
  width: 532px;
  height: 424px;
  background-color: #eceef1;
  margin-left: 80px;
}

.describe-main-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
  color: #323232;
}

.describe-blue-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 26px 0 36px 0;
}

.describe-main-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 40px;
}

.describe-main-block {
  display: flex;
}

.describe-img {
  width: 32px;
  height: 33px;
  background-color: #0199e6;
  border-radius: 4px;
  margin: 5px 19px 0 0;
}

.describe-title {
  font-family: Raleway;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #323232;
}

.describe-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  padding-bottom: 48px;
}

.video-block {
  width: 100%;
  height: 974px;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column 
  }

.video-main-title {

}

.video-blue-line {

}

.video-main-text {

}

.video {

}

.video-futer {

}

.logo-video {

}