* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(assets/1.png);
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: rgba(0, 10, 15, 0.85); */
}

.logo {
  position: absolute;
  top: 5%;
  left: 5%;
}

.social {
  position: absolute;
  top: 5%;
  /* left: 90%; */
  right: 5%;
}

.content {
  width: 100%;
}

.text1 {
  text-align: center;
  font-family: Raleway;
  font-size: 45px;
  line-height: 60px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 46px;
  /* position: relative;
  top: 20%; */
}

.blue {
  font-weight: 700;
  color: #0199e6;
}

.text2 {
  font-family: "Source Sans Pro";
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-bottom: 71px;
}

.info {
  width: 944px;
  height: 102px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.input {
  margin: 0 11px;
  width: 214px;
  height: 54px;
  background-color: #000000;
  border: 1px solid rgba(1, 153, 230, 0.29);
  box-shadow: -3px 0px 0px 0px #0199e6;
  font-family: Raleway;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.button {
  margin: 11px;
  width: 184px;
  height: 54px;
  background-color: #008ed6;

  font-family: Raleway;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.arrow {
  position: absolute;
  display: flex;
  bottom: 20%;
  right: 32%;
}

.sms {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.line {
  width: 34px;
  height: 26px;
  opacity: 0.5;
}

.features {
  width: 100%;
  height: auto;
  padding: 112px 0 21px 0;
}

.features-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 77px;
}

.features-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 65px;
  font-weight: 500;
  color: #323232;
}

.blue-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 23px 0;
}

.features-text {
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
}

.features-grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "grid-responsive grid-font grid-bootstrap"
    "grid-variation grid-markup grid-customize";
  /* grid-template-columns: 1fr 2fr; */
  /* grid-auto-rows: 100px; */
}

.features-grid-block {
  width: 100%;
  max-width: 296px;
  justify-self: center;
  align-self: center;
  padding-bottom: 82px;
}

.responsive {
  grid-area: "grid-responsive";
}

.font {
  grid-area: "grid-font";
}

.bootstrap {
  grid-area: "grid-bootstrap";
}

.variation {
  grid-area: "grid-variation";
}

.markup {
  grid-area: "grid-markup";
}

.customize {
  grid-area: "grid-customize";
}

.grid-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.grid-block-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 64px;
  font-weight: 600;
  color: #323232;
}

.grid-block-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
}

.explore {
  width: 80%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
}

.explore-main-img {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 54px;
}

.main-img {
  width: 100%;
  min-width: 400px;
}

.explore-main-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
  color: #323232;
}

.explore-blue-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 26px 0 36px 0;
}

.explore-main-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 40px;
}

.explore-main-block {
  display: flex;
}

.explore-img {
  width: 32px;
  height: 33px;
  background-color: #0199e6;
  border-radius: 4px;
  margin: 5px 19px 0 0;
}

.explore-title {
  font-family: Raleway;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #323232;
}

.explore-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  padding-bottom: 48px;
}

.main-describe {
  background-color: #f7f8fa;
}

.describe {
  width: 80%;
  background-color: #f7f8fa;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
}

.describe-main-img {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.describe-main-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
  color: #323232;
}

.describe-blue-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 26px 0 36px 0;
}

.describe-main-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 40px;
}

.describe-main-block {
  display: flex;
}

.describe-img {
  width: 32px;
  height: 33px;
  background-color: #0199e6;
  border-radius: 4px;
  margin: 5px 19px 0 0;
}

.describe-title {
  font-family: Raleway;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #323232;
}

.describe-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  padding-bottom: 48px;
}

.video-block {
  width: 100%;
  height: 974px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-main-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 65px;
  font-weight: 500;
  color: #323232;
  margin: 111px 0 24px 0;
}

.video-blue-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
}

.video-main-text {
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  margin: 18px 0 77px 0;
}

.video {
  margin-bottom: 45px;
  width: 945px;
  height: 532px;
}

.video-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.logo-video-1 {
  margin-right: 106px;
}

.logo-video-2 {
  margin-right: 126px;
}

/* slider */

.product-screenshots-block {
  width: 100%;
  height: 676px;
  background-color: #f7f8fa;
  padding-top: 110px;
}

.slider-titel-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-titel {
  font-family: Raleway;
  font-size: 35px;
  font-weight: 500;
  color: #323232;
}

.slider-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 24px 0 18px 0;
}

.slider-text {
  font-family: "Source Sans Pro";
  font-size: 17px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 79px;
}

.slider {
  height: 340px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 244px;
  display: flex;
  align-items: center;
  transform: translate(0%);
  transition: 1s;
}

.slide {
  width: 358px;
  height: 244px;
  padding: 1%;
}

.nav {
  opacity: 0;
}

.nav4-hidden {
  visibility: hidden;
}

.nav5-hidden {
  visibility: hidden;
}

#nav1:checked ~ .slides {
  transform: translate(0);
}

#nav2:checked ~ .slides {
  transform: translate(-33%);
}

#nav3:checked ~ .slides {
  transform: translate(-66%);
}

.controls {
  left: 50%;
  margin: 49px 0 100px -98px;
  position: absolute;
}

label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transition: ease-in-out 0.5s;
}

label::after {
  background-color: #94cae6;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}

#nav1:checked ~ .controls label:nth-of-type(1)::after,
#nav2:checked ~ .controls label:nth-of-type(2)::after,
#nav3:checked ~ .controls label:nth-of-type(3)::after {
  background: #105b81;
}

.help-block {
  width: 100%;
  height: 451px;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: url(/landx/assets/help_background.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-main-text {
  font-family: Raleway;
  font-size: 20px;
  line-height: 65px;
  font-weight: 700;
  color: #ffffff;
}

.help-main-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 65px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 40px;
}

.help-button {
  width: 184px;
  height: 54px;
  background-color: #008ed6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.help-button:hover {
  background-color: #008fd6cb;
}

.help-button:active {
  background-color: #008fd677;
}

.help-button-text {
  font-family: Raleway;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.help-button-img {
  font-family: "landx - font - icons";
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 3px;
}

.price {
  width: 100%;
  height: 851px;
  background-color: #f7f8fa;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.price-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.price-main-title {
  font-family: Raleway;
  font-size: 35px;
  line-height: 65px;
  margin-top: 78px;
  color: #323232;
}

.price-blue-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 17px 18px;
}

.price-main-text {
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 78px;
}

.price-block {
  display: flex;
  justify-content: center;
}

.price-block1 {
  width: 360px;
  height: 476px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-right: 32px;
}

.price-block-headr {
  width: auto;
  height: 99px;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-header-titel {
  font-family: Raleway;
  font-size: 24px;
  color: #ffffff;
  margin: 24px 0 14px 0;
}

.price-header-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 24px;
}

.blue-price-text {
  font-weight: 700;
  color: #0199e6;
}
.price-list {
  display: flex;
}

.price-name {
  display: flex;
}

.price-name-tab {
  list-style-type: none;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  color: #323232;
  margin-left: 30px;
}

.price-sum {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-sum-tab {
  list-style-type: none;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  color: #323232;
  margin-left: 128px;
}

.price-block2 {
  width: 360px;
  height: 476px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-right: 32px;
}

.price-block-headr2 {
  width: auto;
  height: 99px;
  background-color: #0199e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-block-button2 {
  width: 96px;
  height: 42px;
  background-color: #0199e6;
  border: 1px solid #727272;
  border-radius: 5px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fffdfd;
  margin: 15px 0 0 45px;
}

.price-block3 {
  width: 360px;
  height: 476px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.footer-price-block {
  display: flex;
}
.total-price {
  font-family: Raleway;
  font-size: 18px;
  line-height: 64px;
  font-weight: 700;
  margin-left: 30px;
}

.price-block-button {
  width: 96px;
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #727272;
  border-radius: 7px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #727272;
  margin: 15px 0 0 45px;
}

.qeution {
  width: 100%;
  height: 225px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quetion-text {
  font-family: Raleway;
  font-size: 24px;
  line-height: 65px;
  font-weight: 600;
  color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.quetion-link {
  font-family: "landx - font - icons";
  font-size: 17.9px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #008ed6;
  font-family: Raleway;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding-bottom: 60px;
}

.aboutus {
  height: 284px;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus-main-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 77px;
}

.aboutus-main-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #919191;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 19px;
}

.aboutus-social-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 98px;
}

.TrustedbyThousands-block {
  height: 799px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 111px;
}

.Trusted-titel-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TrustedbyThousands-titel {
  font-family: Raleway;
  font-size: 35px;
  line-height: 65px;
  font-weight: 500;
  color: #323232;
}

.TrustedbyThousands-line {
  width: 68px;
  height: 1px;
  background-color: #0199e6;
  margin: 18px 17px;
}

.TrustedbyThousands-text {
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
}

.TrustedbyThousands-logo {
  display: flex;
  align-items: center;
  padding: 79px 71px;
}

.TrustedbyThousands-img {
  padding-right: 40px;
}

.Trusted-main-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Trusted-block {
  width: 361px;
  height: 226px;
  background-color: #f7f8fa;
  box-shadow: 0px 2px 0px 0px #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-left: 28px;
}

.Trusted-block-img {
  position: absolute;
  top: -15px;
  z-index: 2;
}

.Trusted-block-text {
  text-align: center;
  font-family: "Source Sans Pro - It";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  padding: 52px 37px 33px 36px;
}

.Trusted-block-triangle {
  width: 30px;
  height: 30px;
  background-color: #f7f8fa;
  box-shadow: 0px 2px 0px 0px #e5e5e5;
  position: absolute;
  bottom: -15px;
  z-index: 3;
  transform: rotate(45deg);
}

.Trusted-blue-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #0199e6;
  text-align: center;
}

.trusted-footer-text {
  font-family: "Source Sans Pro";
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  color: #727272;
  text-align: center;
}

.Truted-footer-text1 {
  padding: 10%;
}

.Truted-footer-text2 {
  padding: 10%;
}

.Truted-footer-text3 {
  padding: 10%;
}

/* check on ipad pro (1024)*/
@media (max-width: 1279px) {
  /* header */
  .arrow {
    position: absolute;
    display: flex;
    bottom: 20%;
    right: 15%;
  }

  /* price */
  .price {
    height: auto;
  }
  .price-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .price-block1 {
    margin: 10%;
  }

  .price-block2 {
    margin: 10%;
  }

  .price-block3 {
    margin: 10%;
  }

  /* video-block */
  .video {
    width: 70%;
    height: 50%;
  }

  .video-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-video-1 {
    margin: 5%;
  }

  .logo-video-2 {
    margin: 5%;
  }

  .logo-video-3 {
    margin: 5%;
  }

  /* product-screenshots-block */

  .slider-text {
    font-family: "Source Sans Pro";
    font-size: 17px;
    font-weight: 400;
    color: #727272;
    text-align: center;
    margin-bottom: 79px;
  }

  .slider {
    width: 35%;
    height: 340px;
    margin: 0 auto;
    overflow: hidden;
  }

  .slides {
    width: 360px;
    height: 246px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%);
    transition: 1s;
  }

  .slide {
    width: auto;
    height: auto;
    padding: 5%;
  }

  .nav {
    opacity: 0;
  }

  .nav4-hidden {
    visibility: visible;
  }

  .nav5-hidden {
    visibility: visible;
  }

  #nav1:checked ~ .slides {
    transform: translate(0);
  }

  #nav2:checked ~ .slides {
    transform: translate(-110%);
  }

  #nav3:checked ~ .slides {
    transform: translate(-220%);
  }

  #nav4:checked ~ .slides {
    transform: translate(-330%);
  }

  #nav5:checked ~ .slides {
    transform: translate(-440%);
  }

  #nav1:checked ~ .controls label:nth-of-type(1)::after,
  #nav2:checked ~ .controls label:nth-of-type(2)::after,
  #nav3:checked ~ .controls label:nth-of-type(3)::after,
  #nav4:checked ~ .controls label:nth-of-type(4)::after,
  #nav5:checked ~ .controls label:nth-of-type(5)::after {
    background: #105b81;
  }

  /* TrustedbyThousands-block */
  .TrustedbyThousands-block {
    height: auto;
    padding-bottom: 50px;
  }

  .TrustedbyThousands-logo {
    display: flex;
    align-items: center;
    padding: 10%;
  }

  .Trusted-main-block {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }

  .Trusted-block-adaptive {
    margin: 150px 0;
  }


}

/* check on ipad (768)*/
@media (max-width: 1023px) {
  /* header */

  .info {
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .input {
    margin: 3%;
  }

  .arrow {
    position: absolute;
    display: flex;
    bottom: 5%;
    right: 45%;
  }

  /* explore */
  .explore {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
  }

  /* main-describe */
  .describe {
    padding: 50px 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .describe-main-img {
    display: flex;
    align-items: center;
    margin-left: 0px;
  }
   /* features */
  .features-grid {
    grid-template-areas:
      "grid-responsive grid-font "
      "grid-bootstrap grid-variation "
      "grid-markup grid-customize";
  }

  /* video-block */
  .video-block {
    width: 100%;
    height: auto;
  }

  .video-main-text {
    align-items: center;
  }

  .video {
    width: 70%;
    height: 300px;
  }

  .video-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  /* product-screenshots-block */

  .slider {
    width: 50%;
    height: 340px;
    margin: 0 auto;
    overflow: hidden;
  }

  .slides {
    width: 360px;
    height: 246px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%);
    transition: 1s;
  }

  .slide {
    width: auto;
    height: auto;
    padding: 5%;
  }

  .nav {
    opacity: 0;
  }

  .nav4-hidden {
    visibility: visible;
  }

  .nav5-hidden {
    visibility: visible;
  }

  #nav1:checked ~ .slides {
    transform: translate(0);
  }

  #nav2:checked ~ .slides {
    transform: translate(-110%);
  }

  #nav3:checked ~ .slides {
    transform: translate(-220%);
  }

  #nav4:checked ~ .slides {
    transform: translate(-330%);
  }

  #nav5:checked ~ .slides {
    transform: translate(-440%);
  }

  /* TrustedbyThousands-block */

  .info {
    flex-direction: column;
  }
}

/* check on iPhone 5*/
@media (max-width: 767px) {
  /* header */

  /* explore */

  /* main-describe */

  /* features */

  /* price */

  /* video-block */
  .video {
    
  }

  .video-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

  /* product-screenshots-block */

  /* help-block */

  /* TrustedbyThousands-block */
}
